body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1141px;
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 27px;
}

.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    gap: 54px;
}

.header-nav a {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #2B3541;
}

.icon span {
    display: flex;
}

.button div {
    width: 90px;
    height: 30px;
}

.button-item1,
.button-item2 {
    border: 0;
    background-color: transparent;
}

.button-item2 :hover {
    transform: scale(1.2);
    opacity: 1;
}

.block {
    width: 1326px;
    height: 852px;
    position: relative;
    background-size: cover;
    margin-bottom: 242px;
    background-position: 0 center;
}

.block-text {
    position: absolute;
    top: 228px;
    left: 0px;
}

.block-text h1 {
    font-size: 48px;
    color: #2B3541;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    width: 680px;
}

.text-title {
    font-size: 40px;
    color: #2B3541;
    padding-top: 40px;
    padding-right: 982px;
}

.block-item {
    padding-left: 40px;
}

.block-item p {
    font-size: 18px;
    color: #2B3541;
    padding-top: 20px;
    padding-right: 937px;
}

.block-link {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2B3541;
    padding: 20px 30px;
    text-decoration: none;
    background-color: #FBF138;
    margin-top: 40px;
    display: block;
    max-width: 253px;
    text-align: center;
}

.block-link:hover {
    color: #FBF138;
    background-color: #2B3541;
}

.block-gradient {
    position: absolute;
    width: 996px;
    height: 852px;
    background: #C4C4C4;
    left: 330px;
    top: -1px;
    width: 464px;
    height: 850px;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
    margin: 2px 185px 2px 347px;
}

.girl img {
    position: absolute;
    right: -10px;
    top: 40px;
}

.icon-arrow img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.header2 {
    width: 100%;
    height: 50px;
    margin-bottom: 31px;
}

.sport-container {
    width: 1141px;
    height: 600px;
    display: flex;
    margin-bottom: 87px;

}

.sport-fitness {
    background-image: url(../images/png/Image1.png);
    width: 367.32px;
    height: 598px;
    margin-right: 20.02px;
    position: relative;
}

.sport-fitness:after {
    content: '';
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    position: absolute;
    width: 367.32px;
    height: 598px;
}

.sport-marathon {
    background-image: url(../images/png/Vebinar1.png);
    width: 366.32px;
    height: 600px;
    margin-right: 20.02px;
    position: relative;
}

.sport-marathon:after {
    content: '';
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    position: absolute;
    width: 367.32px;
    height: 598px;
}

.reserve {
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    font-weight: 700;
    font-size: 16px;
    color: #FBF138;
    text-align: center;
    text-transform: uppercase;
    border: none;
    padding: 20px 49px 20px 49px;
    position: absolute;
    top: 185px;
    left: 79px;
    transition: 1s;
    opacity: 0;
}

.sport-fitness:hover .reserve {
    opacity: 1;
}

.sport-yoga {
    background-image: url(../images/png/Vebinar2.png);
    width: 367.32px;
    height: 600px;
    position: relative;
}

.sport-yoga:after {
    content: '';
    background-image: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    position: absolute;
    width: 367.32px;
    height: 598px;
}

.lessons {
    position: absolute;
    list-style-type: none;
    margin-left: 30.03;
}

.sport-datum {
    font-weight: 700;
    font-size: 18px;
    color: #2B3541;
}

.sport-title {
    font-weight: 700;
    font-size: 28px;
    color: #2B3541;
    max-width: 265px;
    position: absolute;
    top: 77px;
    left: 33px;
    z-index: 999;
}

.button2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.marathon {
    background-color: #FBF138;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    border: none;
    padding: 10px 20px 10px 20px;
    padding-bottom: 0px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    color: #2B3541;
}

h4 {
    font-weight: 700;
    font-size: 28px;
    color: #2B3541;
}


.sport-menu-cols {
    column-count: 3;
    column-gap: 20px;

}

.box-cols1 {
    border: 1px solid black;
    height: 309px;
    position: relative;
    margin-bottom: 20px;
}

.box-cols2 {
    border: 1px solid black;
    height: 374px;
    position: relative;
    margin-bottom: 20px;
}

.box-cols3 {
    border: 1px solid black;
    height: 402px;
    position: relative;
    margin-bottom: 20px;
}

.box-cols4 {
    border: 1px solid black;
    height: 281px;
    position: relative;
    margin-bottom: 20px;
}

.box-cols5 {
    border: 1px solid black;
    height: 309px;
    position: relative;
    margin-bottom: 20px;
}

.box-cols6 {
    border: 1px solid black;
    height: 374px;
    position: relative;
    margin-bottom: 20px;
}



.box-cols2:hover {
    border: none;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    width: 367px;
    height: 374px;
}



.sport-grid-title {
    font-weight: 700;
    font-size: 18px;
    color: #2B3541;
    padding-left: 30px;
    padding-bottom: 20px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.sport-grid-date {
    font-weight: 400;
    font-size: 18px;
    color: #010101;
    opacity: 0.7;
    position: absolute;
    top: 20px;
    right: 20px;
}

.sport-grid-cover {
    position: absolute;
    left: 30px;
    bottom: 83px;
    color: black;

}

.form-container {
    margin-top: 160px;
    width: 100%;
    height: 348px;
    background: #F3F3F3;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 80px;

}

.circle {
    position: absolute;
    left: 612px;

}

.form-title {
    font-weight: 700;
    font-size: 40px;
    color: #2B3541;
    margin-bottom: 40px;
    position: relative;
}

.form-group {
    position: relative;
    display: flex;
}

.form-input {
    width: 372px;
    height: 65px;
    border: none;
}

.form-label {
    position: absolute;
    bottom: 19px;
    left: 19px;
    font-weight: 400;
    font-size: 18px;
    color: #2B3541;
    opacity: 0.3;
}

.form-button {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2B3541;
    background-color: #FBF138;
    border: 0;
    padding: 21px 43px 20px 42px;
    margin-left: 20px;
}

.form-button:hover {
    color: #FBF138;
    background-color: #2B3541;
}

.flex-form {
    display: flex;
}

label {
    font-weight: 400;
    font-size: 11px;
    color: #2B3541;
    opacity: 0.5;
    display: flex;
    gap: 2px;
}

.checkbox-form {
    margin-top: 10px;
}

.container-elementor {
    position: relative;
    margin-top: 160px;
    height: 513px;
}

.box-sport {
    position: absolute;
    width: 500px;
}

h5 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 19px;
    margin-top: 0px;

}

caption {
    font-weight: 400;
    font-size: 18px;
}

.sport-btn {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    background-color: #FBF138;
    border: 0;
    padding: 20px 50px 20px 50px;
    display: block;
    margin-top: 34px;
}

.sport-btn:hover {
    color: #FBF138;
    background-color: #2B3541;
}

.fitness-girl {
    position: absolute;
    right: 0;
    top: 0;
}

.container-elementor-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h6 {
    font-weight: 700;
    font-size: 18px;
    margin: 20px;
    margin-left: 0px;
}

.prefooter {
    font-weight: 400;
    font-size: 18px;
    opacity: 0.6;
}

.benefits-flex {
    width: 287px;
}

.footer-wrapper {
    margin-top: 173px;
    background: #F3F3F3;
    width: 100%;
    position: relative;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
    padding-bottom: 75px;
}

.footer-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    gap: 90px;
}

.footer-nav a {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #2B3541;
    display: flex;

}

.address {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #2B3541;
    position: absolute;
    bottom: 3px;
}

.footer-box {
    position: relative;
    width: 307px;
    height: 36px;
}

.ellipse {
    position: absolute;
    left: -43px;
    top: -8px;
}

.footer-item-protect {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 534px;
}

.item-protect {
    font-weight: 400;
    font-size: 14px;
    color: #2B3541;
    opacity: 0.3;
}

.footer-button {
    position: absolute;
    bottom: 0px;
    right: 0px
}

/*Responsive*/

@media (max-width: 1000px) {
    .container {
        max-width: 768px;
    }

    .box {
        border: 1px solid black;
        height: 224px;
        position: relative;
        margin-bottom: 20px;
    }

    .header-logo {
        width: 97px;
        height: 30px;
    }

    .header-nav {
        display: none;
    }

    .block {
        height: 429px;
    }

    .block-text h1 {
        font-size: 26px;
        width: 400px;
    }

    .text-title {
        font-size: 26px;
    }

    .block-item p {
        font-size: 16px;
    }

    .block-gradient {
        width: 359px;
        height: 429px;
    }

    .block-text {
        position: absolute;
        top: 0px;
        ;
    }

    .girl img {
        width: 399px;
        height: 364px;
        right: 579px;
    }

    .block-gradient {
        left: 39px;
    }

    .sport-fitness {
        background-image: url(../images/png/marathon1.png);
        height: 309px;
        width: 364px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .sport-marathon {
        background-image: url(../images/png/Vebinarr1.png);
        height: 309px;
        width: 364px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .sport-yoga {
        background-image: url(../images/png/Vebinarr3.png);
        background-repeat: no-repeat;
        display: grid;
        grid-column: span 2;
        background-size: contain;
        width: 748px;
        height: 336px;
        margin-top: 11px;
        position: relative;
    }

    .sport-yoga:after {
        width: 748px;
        height: 709px;
    }

    .sport-container {
        display: grid;
        width: 748px;
        grid-template-columns: repeat(2, 1fr);

    }

    .sport-title {
        top: 48px;
    }

    .reserve {
        display: none;
    }


    .sport-fitness:after {
        width: 364px;
        height: 309px;
    }

    .sport-marathon:after {
        width: 364px;
        height: 309px;
    }

    .sport-yoga:after {
        height: 309px;
    }

    .sport-marathon {
        height: 309px;
        background-repeat: no-repeat;

    }

    .sport-title {
        font-size: 16px;
    }

    .sport-datum {
        font-weight: 700;
        font-size: 12px;
    }

    .button2 {
        left: 0px;
    }

    .marathon {
        font-size: 12px;
        text-align: center;
        padding: 5px 15px 5px 15px;
    }

    h3 {
        font-size: 26px;
        width: 230px;
    }


    .sport-menu-cols {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .box-cols2 {
        background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
        opacity: 0.7;
        box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
        height: 224px;
        border: none;
    }

    .sport-grid {
        width: 364px;
        height: 224px;
    }

    .form-container {
        height: 416px;
    }

    .flex-form {
        display: flex;
        flex-direction: column;
        gap: 74px;
    }

    .form-title {
        font-size: 26px;
        width: 211px;
        margin: auto;
        margin-bottom: 51px;
    }

    .form-input {
        width: 340px;
        height: 65px;
    }

    .form-button {
        width: 340px;
        height: 65px;
        margin-left: 0px;
    }

    .checkbox-form {
        margin-top: -130px;
    }

    .container-elementor {
        width: 748.85px;
        height: 533px;
    }

    .fitness-girl img {
        width: 372.85px;
        height: 227px;
    }

    h5 {
        font-size: 26px;
        width: 173px;

    }

    .caption {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        width: 350px;
    }

    .container-elementor-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .container-elementor-footer {
        margin-top: 60px;
    }

    .footer {
        width: 768px;
        height: 280px;
        flex-wrap: wrap;
    }

    .footer-box {
        width: 227px;
        flex-basis: 70%;
        flex-grow: 1;
        text-align: center;
    }

    .footer-nav {
        gap: 25px;
    }

    .footer-nav ul {
        font-size: 12px;
    }

    .address {
        font-size: 12px;
        right: 118px;
    }

    .item-protect {
        font-size: 12px;

    }

    .ellipse {
        right: -353px;
    }

    .footer-item-protect {
        gap: 288px;
    }

    /*Modal*/
    .sport-club {
        width: 29px;
        height: 22px;
        background-image: url(../images/icons/sportclub.svg);
        border: none;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;

    }

    .modal {
        background: #F3F3F3;
        width: 587px;
        height: 331px;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        margin: 20px auto 0;
        padding: 93px 10px 86px 50px;
        box-sizing: border-box;
        transition: 0.5s;
    }

    .header-logo {
        width: 78;
        height: 24px;
        top: 0;
        left: 0;
    }

    .modal .header-nav {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0;
        text-decoration: underline;
    }

    .sportclub-close {
        width: 20px;
        height: 19px;
        background-image: url(../images/icons/close.svg);
        background-color: transparent;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
}